body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 10%;
  overflow: auto;
  background-color: #f1f1f1;
}

li a {
  display: block;
  width: 60px;
  padding: 8px 16px;
  color: #000;
}

li a.active {
  background-color: #9ecee0;
  color: white;
}

li a:hover:not(.active) {
  background-color: #1ca0a0;
  color: aliceblue;
}

.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #6fa5a5;
  font-size: 3em;
  font-weight: 500;
}

.AboutMe,
.Education,
.Skills {
  background-color: #b1d8e7;
}

.card {
  border: 2px solid #3f976e;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: #6fa5a57c;
  transition: 0.7s ease;
}

.info {
  margin: 10px;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 2px;
  color: #053a12;
}

.Top {
  direction: rtl;
}

.Top a {
  display: inline-block;
  color: #000000;
  font-size: 1.7em;
  padding: 10px 15px;
  margin: 10px 10px;
  border: 1.5px solid #053a12;
  border-radius: 10px;
  transition: 0.7s ease;
}

.Top a:hover {
  color: #59b2c288;
  transform: scale(1.2);
}